@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Raleway:400,500,800,900");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

ul {
  list-style-type: none; }

a, li a {
  text-decoration: none; }

li {
  display: inline-block; }

body {
  min-width: 320px;
  position: relative;
  font-family: Raleway, sans-serif;
  font-size: 16px;
  line-height: 1.6;
  background-color: #f9f6d6; }

.wrap {
  max-width: 70%;
  margin: 0 auto; }

/* РАЗОБРАТЬСЯ С ЖИРНЫМ ШРИФТОМ*/
h1, h2, h3, button {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  text-transform: uppercase; }

button {
  margin-top: 20px;
  font-size: 2.25em;
  border: none;
  outline: none;
  cursor: pointer;
  -webkit-transition: background-color 0.5s ease;
  -o-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease;
  -webkit-box-shadow: 0 2px 5px 2px rgba(0, 0, 0, 0.5);
          box-shadow: 0 2px 5px 2px rgba(0, 0, 0, 0.5); }

/* HEADER */
header {
  background-color: #0c0105;
  height: 100vh;
  overflow: hidden; }

header p, a, h1, h2 {
  color: #f1e9b9; }

.top_line {
  padding: 20px 0;
  max-height: 90px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.menu_btn {
  cursor: pointer; }
  .menu_btn .line {
    display: block;
    height: 2px;
    width: 25px;
    margin-bottom: 5px;
    -webkit-transform-origin: 4px 0px;
        -ms-transform-origin: 4px 0px;
            transform-origin: 4px 0px;
    background-color: #d5d0a5;
    -webkit-transition: -webkit-transform 0.5s ease;
    transition: -webkit-transform 0.5s ease;
    -o-transition: transform 0.5s ease;
    transition: transform 0.5s ease;
    transition: transform 0.5s ease, -webkit-transform 0.5s ease; }

.menu_btn.active .line:nth-child(1) {
  -webkit-transform: rotate(45deg) translate(0px, 0px);
      -ms-transform: rotate(45deg) translate(0px, 0px);
          transform: rotate(45deg) translate(0px, 0px); }

.menu_btn.active .line:nth-child(2) {
  opacity: 0; }

.menu_btn.active .line:nth-child(3) {
  -webkit-transform: rotate(-45deg) translate(0px, -3px);
      -ms-transform: rotate(-45deg) translate(0px, -3px);
          transform: rotate(-45deg) translate(0px, -3px); }

.navMenu {
  display: none;
  position: absolute;
  top: 90px;
  left: 0;
  z-index: 15; }

.navMenu.active {
  display: block; }
  .navMenu.active ul {
    width: -webkit-calc(10vw + 200px);
    width: calc(10vw + 200px);
    height: 575px;
    background-color: rgba(0, 0, 0, 0.7);
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    padding: 20px 0 20px 10vw; }
    .navMenu.active ul a {
      font-size: 1.25em; }

.menu, .address, .phone, .networks {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .menu > img, .address > img, .phone > img, .networks > img {
    padding-left: 20px; }

.networks {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 250px;
  padding-right: 30px; }
  .networks ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .networks ul li:not(:first-child) {
      margin-left: 30px; }
    .networks ul img {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      height: 25px; }

/* MAIN BANNER */
.main_banner {
  position: relative;
  background: url(../img/main_banner.png) center center/cover fixed;
  height: -webkit-calc(100% - 90px);
  height: calc(100% - 90px);
  width: 100%; }

.booking {
  position: absolute;
  width: 290px;
  top: 0;
  right: 15%;
  padding: 30px;
  text-align: center; }
  .booking img {
    padding: 30px 0 40px; }
  .booking h2 {
    font-size: 1.25em;
    text-transform: capitalize; }
  .booking h1 {
    font-size: 1.5em;
    line-height: 1;
    padding-bottom: 20px; }

/* РАЗОБРАТЬСЯ С ПЛАВНЫМ ПЕРЕВОХОД ПО ССЫЛКЕ*/
form input {
  width: 100%;
  padding: 10px;
  background-color: white;
  border: 1px solid white;
  outline: none;
  line-height: 1.1; }

form input:focus {
  -webkit-box-shadow: 0 0 10px #5f1d1f;
          box-shadow: 0 0 10px #5f1d1f; }

form button {
  color: white;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }

.booking_form {
  position: relative;
  background-color: rgba(255, 224, 146, 0.8);
  padding: 30px 10px; }
  .booking_form h3 {
    font-size: 1.375em;
    line-height: 1;
    padding-bottom: 30px; }
  .booking_form form input {
    margin-bottom: 10px;
    font-size: 1.125em; }
  .booking_form form button {
    background-color: #84bdd1;
    padding: 10px 40px;
    font-size: 1.75em; }
  .booking_form form button:hover {
    background-color: #00a9da; }

.scroll_down {
  position: absolute;
  width: 530px;
  left: 50%;
  bottom: 5%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%); }

.scroll {
  bottom: 0px;
  display: block;
  content: "";
  border: 1px solid #f9f6d6;
  z-index: 1; }

.scroll:before, .scroll:after {
  position: absolute;
  display: block;
  content: "";
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
      -ms-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg); }

.scroll:before {
  width: 28px;
  height: 28px;
  background-color: #f9f6d6; }

.scroll:after {
  width: 15px;
  height: 15px;
  border-bottom: 1px solid #22221d;
  border-right: 1px solid #22221d; }

/* WHY WE*/
#advantage {
  height: 100%;
  background: -webkit-linear-gradient(left, #f9f6d6 10px, rgba(0, 0, 0, 0) 10%), url("../img/advantage.png") top left no-repeat;
  background: -o-linear-gradient(left, #f9f6d6 10px, rgba(0, 0, 0, 0) 10%), url("../img/advantage.png") top left no-repeat;
  background: linear-gradient(to right, #f9f6d6 10px, rgba(0, 0, 0, 0) 10%), url("../img/advantage.png") top left no-repeat;
  padding-top: 25px;
  margin-bottom: 25px; }
  #advantage h2 {
    display: block;
    margin: 0 auto;
    position: relative;
    border: 3px solid #626262;
    text-align: center;
    font-weight: 500;
    font-size: 2em;
    color: #878678;
    padding: 0 35px;
    width: 270px; }
    #advantage h2 span {
      font-size: 1.25em;
      font-weight: 600;
      color: #2e2e2b; }
    #advantage h2:before, #advantage h2:after {
      content: "";
      position: absolute;
      border: 1px solid #626262;
      width: 160px;
      top: 50%; }
    #advantage h2:before {
      left: -50%; }
    #advantage h2:after {
      right: -50%; }
  #advantage .inner_grid {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-flow: column wrap;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    -webkit-box-align: space-between;
    -webkit-align-items: space-between;
        -ms-flex-align: space-between;
            align-items: space-between;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 80px 0 30px;
    height: 650px;
    width: 90%;
    margin: 0 auto; }
    #advantage .inner_grid blockquote {
      width: 50%;
      -webkit-align-self: center;
          -ms-flex-item-align: center;
              align-self: center;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      height: 100%; }
      #advantage .inner_grid blockquote p {
        position: relative;
        top: 40%;
        -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
                transform: translateY(-50%);
        font-size: 3.375em;
        font-weight: 500;
        color: #3c0a0d;
        line-height: 1; }
        #advantage .inner_grid blockquote p:before, #advantage .inner_grid blockquote p:after {
          height: 61px;
          font-size: 3em;
          position: absolute; }
        #advantage .inner_grid blockquote p:before {
          content: "\2018 \2018";
          line-height: 61px; }
        #advantage .inner_grid blockquote p:after {
          content: "\2019 \2019";
          margin-top: 30px; }
        #advantage .inner_grid blockquote p span {
          display: inline-block;
          width: 80px; }
    #advantage .inner_grid .inner_wrapper {
      width: 50%;
      height: 100%;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-flow: column wrap;
          -ms-flex-flow: column wrap;
              flex-flow: column wrap;
      -webkit-box-align: space-between;
      -webkit-align-items: space-between;
          -ms-flex-align: space-between;
              align-items: space-between;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between;
      padding-left: 40px; }
    #advantage .inner_grid > div .picture {
      display: inline-block;
      width: 80px;
      height: 150px;
      text-align: right; }
      #advantage .inner_grid > div .picture .who_pictogram {
        height: 65px; }
    #advantage .inner_grid > div .text {
      display: inline-block;
      width: 220px;
      padding: 0 0 10px 20px;
      position: relative;
      font-size: 1.125em;
      color: #2e2e2b;
      line-height: 1.2;
      font-weight: 500; }
      #advantage .inner_grid > div .text:before {
        content: '';
        position: absolute;
        border-left: 1px solid #6a6a6a;
        height: 130px;
        bottom: -10px;
        left: 10px; }
      #advantage .inner_grid > div .text:after {
        content: '';
        position: absolute;
        border-bottom: 1px solid #6a6a6a;
        width: 150px;
        bottom: 0;
        left: 0; }
    #advantage .inner_grid > div .right {
      width: 150px; }

/* OUR OFFICES */
#our_offices {
  height: 100%;
  max-width: 1100px; }

.seats_50, .seats_20, .seats_6 {
  height: 450px;
  text-align: right;
  padding: 30px; }

.seats_50, .seats_6 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end; }

.seats_50 {
  background: -webkit-gradient(linear, left top, right top, color-stop(30%, rgba(0, 0, 0, 0)), color-stop(60%, rgba(221, 136, 42, 0.9))), url("../img/50_seats.png") top right no-repeat;
  background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 30%, rgba(221, 136, 42, 0.9) 60%), url("../img/50_seats.png") top right no-repeat;
  background: -o-linear-gradient(left, rgba(0, 0, 0, 0) 30%, rgba(221, 136, 42, 0.9) 60%), url("../img/50_seats.png") top right no-repeat;
  background: linear-gradient(to right, rgba(0, 0, 0, 0) 30%, rgba(221, 136, 42, 0.9) 60%), url("../img/50_seats.png") top right no-repeat; }
  .seats_50 button:hover > a {
    background-color: rgba(95, 29, 31, 0.9); }

.article {
  width: 45%;
  text-align: center; }
  .article h3 {
    display: block;
    margin: 0 auto;
    position: relative;
    border: 3px solid #f9f6d6;
    text-align: center;
    font-weight: 800;
    font-size: 2.25em;
    color: #fff;
    width: 365px; }
    .article h3:before, .article h3:after {
      content: "";
      position: absolute;
      border: 1px solid #f9f6d6;
      width: 55px;
      top: 50%; }
    .article h3:before {
      left: -13%; }
    .article h3:after {
      right: -13%; }
  .article button > a {
    background-color: #edd3b6;
    padding: 10px 75px;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    display: inline-block;
    color: #3c0a0d; }
  .article button:hover > a {
    color: #f9f6d6; }

.text_seats {
  margin-top: 25px; }
  .text_seats > p {
    text-align: justify; }
  .text_seats > p, .text_seats > a {
    font-size: 1.5em;
    line-height: 1.2;
    color: #fff; }
  .text_seats > a {
    text-transform: lowercase;
    display: inline-block;
    position: relative;
    right: -50%;
    -webkit-transform: translate(-50%, -100%);
        -ms-transform: translate(-50%, -100%);
            transform: translate(-50%, -100%);
    background: no-repeat center right url(../img/arrow_white.png);
    padding-right: 25px; }

.seats_20 {
  background: -webkit-gradient(linear, right top, left top, color-stop(30%, rgba(0, 0, 0, 0)), color-stop(60%, rgba(95, 29, 31, 0.9))), url("../img/20_seats.png") top right no-repeat;
  background: -webkit-linear-gradient(right, rgba(0, 0, 0, 0) 30%, rgba(95, 29, 31, 0.9) 60%), url("../img/20_seats.png") top right no-repeat;
  background: -o-linear-gradient(right, rgba(0, 0, 0, 0) 30%, rgba(95, 29, 31, 0.9) 60%), url("../img/20_seats.png") top right no-repeat;
  background: linear-gradient(to left, rgba(0, 0, 0, 0) 30%, rgba(95, 29, 31, 0.9) 60%), url("../img/20_seats.png") top right no-repeat; }
  .seats_20 button:hover > a {
    background-color: rgba(221, 136, 42, 0.9); }

.seats_6 {
  background: -webkit-gradient(linear, left top, right top, color-stop(30%, rgba(0, 0, 0, 0)), color-stop(60%, rgba(132, 189, 209, 0.9))), url("../img/6_seats.png") top right no-repeat;
  background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 30%, rgba(132, 189, 209, 0.9) 60%), url("../img/6_seats.png") top right no-repeat;
  background: -o-linear-gradient(left, rgba(0, 0, 0, 0) 30%, rgba(132, 189, 209, 0.9) 60%), url("../img/6_seats.png") top right no-repeat;
  background: linear-gradient(to right, rgba(0, 0, 0, 0) 30%, rgba(132, 189, 209, 0.9) 60%), url("../img/6_seats.png") top right no-repeat; }
  .seats_6 button:hover > a {
    background-color: rgba(95, 29, 31, 0.9); }

/* DISCOUNTS */
#discount {
  height: 960px;
  background: -webkit-linear-gradient(left, #f9f6d6 10px, rgba(0, 0, 0, 0) 15%), -webkit-linear-gradient(right, #f9f6d6 15px, rgba(0, 0, 0, 0) 15%), url(../img/discount_office_color.png) no-repeat left center, url(../img/discount_office_background.png) no-repeat left center;
  background: -o-linear-gradient(left, #f9f6d6 10px, rgba(0, 0, 0, 0) 15%), -o-linear-gradient(right, #f9f6d6 15px, rgba(0, 0, 0, 0) 15%), url(../img/discount_office_color.png) no-repeat left center, url(../img/discount_office_background.png) no-repeat left center;
  background: linear-gradient(to right, #f9f6d6 10px, rgba(0, 0, 0, 0) 15%), linear-gradient(-90deg, #f9f6d6 15px, rgba(0, 0, 0, 0) 15%), url(../img/discount_office_color.png) no-repeat left center, url(../img/discount_office_background.png) no-repeat left center;
  position: relative;
  padding-top: 40px; }
  #discount .frame {
    height: 830px;
    max-width: 900px; }

.frame {
  border: 5px solid #dd882a;
  margin: 0 auto;
  position: relative;
  overflow: visible; }

.girl img {
  position: absolute;
  bottom: 0;
  left: -130px;
  z-index: 10; }

.discount_form {
  position: absolute;
  width: 460px;
  top: 50%;
  right: -10%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  padding: 30px;
  text-align: center;
  z-index: 5;
  background-color: rgba(202, 124, 40, 0.8);
  -webkit-border-radius: 10px;
          border-radius: 10px; }
  .discount_form h2 {
    font-size: 2.5em;
    text-transform: uppercase;
    color: #fff;
    line-height: 1;
    text-align: center; }
  .discount_form p {
    font-size: 1.875em;
    text-transform: lowercase;
    font-weight: 400;
    line-height: 1;
    color: #fff; }
  .discount_form form {
    margin: 10px 0; }
    .discount_form form input {
      margin: 10px 0;
      font-size: 1.5em; }
    .discount_form form button {
      background-color: #84bdd1;
      padding: 10px 90px; }
    .discount_form form button:hover {
      background-color: #00a9da; }

/* STATISTICS */
#statistics {
  height: 350px;
  background: url(../img/long_banner.png) no-repeat center center;
  padding: 40px 0;
  border-top: 2px solid #3c0a0d;
  border-bottom: 2px solid #3c0a0d; }

.statistic_wrapper, .statistic_section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

.statistic_wrapper {
  height: 100%;
  width: 100%;
  max-width: 1124px;
  margin: 0 auto; }

.statistic_section {
  height: 100%;
  width: 50%; }

.space, .computers, .offices, .customers {
  height: 100%;
  width: 50%; }
  .space p:first-child, .computers p:first-child, .offices p:first-child, .customers p:first-child {
    width: 180px;
    height: 100px;
    margin: 40px auto 0;
    font-size: 4.25em;
    color: #f1e9b9;
    font-weight: 800;
    text-align: center;
    line-height: 1; }
  .space h3, .computers h3, .offices h3, .customers h3 {
    margin: 30px auto 0;
    position: relative;
    border: 5px solid #f9f6d6;
    text-align: center;
    font-weight: 800;
    font-size: 1.5em;
    color: #f9f6d6;
    text-transform: lowercase;
    width: 180px; }
    .space h3:before, .space h3:after, .computers h3:before, .computers h3:after, .offices h3:before, .offices h3:after, .customers h3:before, .customers h3:after {
      content: "";
      position: absolute;
      border: 1px solid #f9f6d6;
      width: 55px;
      top: 50%; }
    .space h3:before, .computers h3:before, .offices h3:before, .customers h3:before {
      left: -25%; }
    .space h3:after, .computers h3:after, .offices h3:after, .customers h3:after {
      right: -25%; }

.area {
  position: relative; }
  .area p:first-child {
    background-color: rgba(221, 136, 42, 0.8); }

.area p:last-child {
  position: absolute;
  bottom: 0;
  right: 65px;
  text-align: end;
  font-size: 1.75em;
  font-weight: 600;
  color: #f1e9b9;
  width: auto;
  height: auto; }

.space {
  background: -webkit-gradient(linear, left bottom, left top, from(#dd882a), color-stop(50%), to(rgba(0, 0, 0, 0)));
  background: -webkit-linear-gradient(bottom, #dd882a, 50%, rgba(0, 0, 0, 0));
  background: -o-linear-gradient(bottom, #dd882a, 50%, rgba(0, 0, 0, 0));
  background: linear-gradient(to top, #dd882a, 50%, rgba(0, 0, 0, 0)); }
  .space p:first-child {
    background-color: rgba(221, 136, 42, 0.8); }

.offices {
  background: -webkit-gradient(linear, left bottom, left top, from(#5f1d1f), color-stop(50%), to(rgba(0, 0, 0, 0)));
  background: -webkit-linear-gradient(bottom, #5f1d1f, 50%, rgba(0, 0, 0, 0));
  background: -o-linear-gradient(bottom, #5f1d1f, 50%, rgba(0, 0, 0, 0));
  background: linear-gradient(to top, #5f1d1f, 50%, rgba(0, 0, 0, 0)); }
  .offices p:first-child {
    background-color: rgba(95, 29, 31, 0.8); }

.computers {
  background: -webkit-gradient(linear, left bottom, left top, from(#84bdd1), color-stop(50%), to(rgba(0, 0, 0, 0)));
  background: -webkit-linear-gradient(bottom, #84bdd1, 50%, rgba(0, 0, 0, 0));
  background: -o-linear-gradient(bottom, #84bdd1, 50%, rgba(0, 0, 0, 0));
  background: linear-gradient(to top, #84bdd1, 50%, rgba(0, 0, 0, 0)); }
  .computers p:first-child {
    background-color: rgba(132, 189, 209, 0.8); }

.customers {
  background: -webkit-gradient(linear, left bottom, left top, from(#af8bbd), color-stop(50%), to(rgba(0, 0, 0, 0)));
  background: -webkit-linear-gradient(bottom, #af8bbd, 50%, rgba(0, 0, 0, 0));
  background: -o-linear-gradient(bottom, #af8bbd, 50%, rgba(0, 0, 0, 0));
  background: linear-gradient(to top, #af8bbd, 50%, rgba(0, 0, 0, 0)); }
  .customers p:first-child {
    background-color: rgba(175, 139, 189, 0.8); }

/* REVIEWS */
#reviews {
  padding: 105px 0;
  position: relative; }

.slider_mobile {
  display: none; }

.slider_full_size {
  margin: 0 auto;
  overflow: hidden; }

.slider_not_active {
  display: none; }

.slider_active {
  max-width: 1124px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  -webkit-transition: margin 0.8s ease-out;
  -o-transition: margin 0.8s ease-out;
  transition: margin 0.8s ease-out;
  margin: 0 auto; }
  .slider_active .down {
    margin-bottom: 6px; }
  .slider_active .up, .slider_active .down {
    display: inline-block;
    max-width: 32%;
    width: 100%;
    height: 400px;
    overflow: hidden;
    text-align: center;
    position: relative; }
  .slider_active .up:not(:first-child), .slider_active .down {
    margin-left: -15.5%; }
  .slider_active .opinion {
    font-size: 1.5em;
    line-height: 1.2;
    color: #fcfbf9;
    text-align: center;
    width: 75%;
    margin: 30px auto 10px; }
  .slider_active .opinion_href {
    font-size: 1em;
    color: #fcfbf9; }
  .slider_active .opinion_author {
    font-size: 1.5em;
    font-weight: 800;
    line-height: 0.3;
    color: #3c0a0d;
    width: 60%;
    height: 60px;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    bottom: 15px;
    background-color: rgba(255, 255, 255, 0.8);
    position: absolute; }
    .slider_active .opinion_author:before, .slider_active .opinion_author:after {
      content: '';
      position: absolute;
      border: 1px solid rgba(249, 246, 214, 0.8);
      width: 25px;
      top: 50%; }
    .slider_active .opinion_author:before {
      left: -20px; }
    .slider_active .opinion_author:after {
      right: -20px; }
    .slider_active .opinion_author h4 {
      width: 140px;
      text-align: center;
      line-height: 40px; }
    .slider_active .opinion_author p {
      position: absolute;
      right: 0;
      width: 180px;
      text-align: center; }
  .slider_active .alex_opinion {
    margin-left: 0;
    background: url(../img/review_1_1.png) no-repeat center top/contain; }
  .slider_active .alex {
    background: url(../img/review_2_1_alex.png) no-repeat center bottom/contain; }
  .slider_active .table {
    background: url(../img/review_1_2.png) no-repeat center top/contain; }
  .slider_active .denis {
    background: url(../img/review_2_2_denis.png) no-repeat center bottom/contain; }
  .slider_active .denis_opinion {
    background: url(../img/review_1_3.png) no-repeat center top/contain; }
  .slider_active .anna {
    margin-left: 0;
    background: url(../img/review_4_1_ann.png) no-repeat center bottom/contain; }
  .slider_active .anna_opinion {
    background: url(../img/review_3_1.png) no-repeat center top/contain; }
  .slider_active .chairs {
    background: url(../img/review_4_2.png) no-repeat center bottom/contain; }
  .slider_active .jane_opinion {
    background: url(../img/review_3_2.png) no-repeat center top/contain; }
  .slider_active .jane {
    background: url(../img/review_4_3_jane.png) no-repeat center bottom/contain; }

.prev, .next {
  position: absolute;
  background-color: transparent;
  border: none;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  margin: 0;
  background-image: url(../img/arrow.png);
  width: 63px;
  height: 51px;
  cursor: pointer;
  z-index: 10;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }

.prev {
  top: 50%;
  left: 7%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%); }
  .prev:hover {
    left: 6%; }

.next {
  top: 50%;
  right: 7%;
  -webkit-transform: rotate(180deg) translateY(50%);
      -ms-transform: rotate(180deg) translateY(50%);
          transform: rotate(180deg) translateY(50%); }
  .next:hover {
    right: 6%; }

/* DETAILS */
#details {
  height: 100vh;
  background: -webkit-linear-gradient(bottom, #f9f6d6 15px, rgba(0, 0, 0, 0) 20%), url(../img/details_chair.png) no-repeat center top, url(../img/details_background.png) no-repeat center top;
  background: -o-linear-gradient(bottom, #f9f6d6 15px, rgba(0, 0, 0, 0) 20%), url(../img/details_chair.png) no-repeat center top, url(../img/details_background.png) no-repeat center top;
  background: linear-gradient(to top, #f9f6d6 15px, rgba(0, 0, 0, 0) 20%), url(../img/details_chair.png) no-repeat center top, url(../img/details_background.png) no-repeat center top;
  position: relative;
  padding-top: 40px; }
  #details .frame {
    height: 90%;
    width: 80%; }

.details_items {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-flow: column wrap;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-align: space-between;
  -webkit-align-items: space-between;
      -ms-flex-align: space-between;
          align-items: space-between;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 80px 0 30px;
  height: 100%;
  width: 90%;
  margin: 0 auto; }
  .details_items blockquote {
    width: 70%;
    -webkit-align-self: center;
        -ms-flex-item-align: center;
            align-self: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 100%; }
    .details_items blockquote p {
      position: relative;
      top: 10%;
      -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
              transform: translateY(-50%);
      font-size: 2.625em;
      font-weight: 600;
      color: rgba(109, 37, 4, 0.9);
      line-height: 1; }
      .details_items blockquote p:before {
        content: "\2018 \2018";
        height: 42px;
        font-size: 1.5em;
        position: absolute;
        margin-top: -25px;
        line-height: 61px; }
      .details_items blockquote p:after {
        content: "\2019 \2019";
        height: 40px;
        font-size: 1.5em;
        position: absolute;
        margin-top: 42px; }
      .details_items blockquote p span {
        display: inline-block;
        width: 20px; }
  .details_items > div .picture {
    display: inline-block;
    width: 80px;
    height: 130px;
    text-align: right; }
    .details_items > div .picture .who_pictogram {
      height: 65px; }
  .details_items > div .text {
    display: inline-block;
    width: 150px;
    padding: 0 0 10px 20px;
    position: relative;
    font-size: 1.125em;
    color: #2e2e2b;
    line-height: 1.2;
    font-weight: 500; }
    .details_items > div .text:before {
      content: '';
      position: absolute;
      border-left: 1px solid #6a6a6a;
      height: 130px;
      bottom: -10px;
      left: 10px; }
    .details_items > div .text:after {
      content: '';
      position: absolute;
      border-bottom: 1px solid #6a6a6a;
      width: 150px;
      bottom: 0;
      left: 0; }
  .details_items > div .right {
    width: 150px; }

/* GIFT */
#gift {
  height: 100vh;
  background: -webkit-linear-gradient(left, #f9f6d6 25px, rgba(0, 0, 0, 0) 15%), -webkit-linear-gradient(right, #f9f6d6 25px, rgba(0, 0, 0, 0) 15%), url(../img/join_background_workplace.png) no-repeat center bottom, url(../img/join_background_black.png) no-repeat center bottom;
  background: -o-linear-gradient(left, #f9f6d6 25px, rgba(0, 0, 0, 0) 15%), -o-linear-gradient(right, #f9f6d6 25px, rgba(0, 0, 0, 0) 15%), url(../img/join_background_workplace.png) no-repeat center bottom, url(../img/join_background_black.png) no-repeat center bottom;
  background: linear-gradient(to right, #f9f6d6 25px, rgba(0, 0, 0, 0) 15%), linear-gradient(to left, #f9f6d6 25px, rgba(0, 0, 0, 0) 15%), url(../img/join_background_workplace.png) no-repeat center bottom, url(../img/join_background_black.png) no-repeat center bottom;
  position: relative; }
  #gift img {
    position: absolute;
    bottom: 0;
    right: 11%;
    z-index: 10; }

.free_month_form {
  position: absolute;
  width: 420px;
  top: 0;
  left: 10%;
  padding: 40px;
  text-align: center;
  z-index: 15;
  background-color: rgba(150, 192, 210, 0.85);
  -webkit-border-radius: 10px;
          border-radius: 10px; }
  .free_month_form h2 {
    font-size: 2.875em;
    text-transform: uppercase;
    color: #fff;
    line-height: 1;
    text-align: center; }
  .free_month_form p {
    font-size: 1.875em;
    font-weight: 400;
    line-height: 1;
    color: #fff;
    margin: 20px 0 25px; }
    .free_month_form p span {
      text-decoration: underline; }
  .free_month_form form {
    margin: 10px 0; }
    .free_month_form form input {
      margin: 10px 0;
      font-size: 1.5em; }
    .free_month_form form button {
      background-color: #c11b35;
      padding: 10px 40px; }
    .free_month_form form button:hover {
      background-color: #c11b35; }

.join_team {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 80%;
  padding: 25px 0;
  background-color: rgba(150, 192, 210, 0.85);
  text-align: center;
  -webkit-border-radius: 10px;
          border-radius: 10px;
  z-index: 15; }
  .join_team p {
    text-transform: uppercase;
    color: #fff;
    line-height: 1;
    text-align: center;
    font-weight: 800; }
  .join_team p:first-child {
    font-size: 2.25em; }
  .join_team p:last-child {
    font-size: 3em; }

/* LOCATION */
#location {
  height: 100vh;
  background: -webkit-linear-gradient(left, #f9f6d6 35px, rgba(0, 0, 0, 0) 15%), -webkit-linear-gradient(right, #f9f6d6 35px, rgba(0, 0, 0, 0) 15%), url(../img/location.png) no-repeat center 200px;
  background: -o-linear-gradient(left, #f9f6d6 35px, rgba(0, 0, 0, 0) 15%), -o-linear-gradient(right, #f9f6d6 35px, rgba(0, 0, 0, 0) 15%), url(../img/location.png) no-repeat center 200px;
  background: linear-gradient(to right, #f9f6d6 35px, rgba(0, 0, 0, 0) 15%), linear-gradient(to left, #f9f6d6 35px, rgba(0, 0, 0, 0) 15%), url(../img/location.png) no-repeat center 200px;
  position: relative;
  padding-top: 60px;
  margin-bottom: 60px; }
  #location .frame {
    height: 90%;
    width: 80%; }
    #location .frame h2 {
      font-size: 2.25em;
      font-weight: 600;
      color: #3c0a0d;
      margin: 60px auto 40px auto;
      text-align: center;
      line-height: 1; }
    #location .frame p {
      font-size: 1.125em;
      color: #848181;
      text-align: center;
      width: 43%;
      margin: 0 auto;
      line-height: 1.1; }
    #location .frame h3 {
      font-size: 1.125em;
      font-weight: 600;
      color: #848181;
      text-align: center;
      text-transform: capitalize;
      padding: 3px 0;
      width: 145px;
      line-height: 1.1;
      border: 3px solid #dd882a;
      background: rgba(255, 255, 255, 0.8);
      position: relative; }
      #location .frame h3:after {
        content: '';
        color: #dd882a;
        position: absolute;
        border: 5px solid #dd882a;
        -webkit-border-radius: 50%;
                border-radius: 50%;
        height: 10px;
        width: 10px;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        left: 50%;
        -webkit-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
                transform: translateX(-50%); }
      #location .frame h3:before {
        content: '';
        color: #dd882a;
        position: absolute;
        border: 15px solid rgba(255, 255, 255, 0.8);
        -webkit-border-radius: 50%;
                border-radius: 50%;
        height: 15px;
        width: 15px;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        left: 50%;
        -webkit-transform: translate(-50%, 50%);
            -ms-transform: translate(-50%, 50%);
                transform: translate(-50%, 50%); }

.park, .market, .MC, .coffee_life, #open_1969 {
  position: absolute;
  display: inline-block; }
  .park:after, .market:after, .MC:after, .coffee_life:after, #open_1969:after {
    content: '';
    position: absolute;
    border-left: 2px solid #dd882a;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%); }

.park {
  height: 142px;
  top: 268px;
  left: 5%; }
  .park:after {
    height: 125px; }
  .park h3:after {
    top: 143px; }
  .park h3:before {
    top: 118px; }

.market {
  height: 68px;
  top: 286px;
  left: 33%; }
  .market:after {
    height: 45px; }
  .market h3:after {
    top: 63px; }
  .market h3:before {
    top: 38px; }

.MC {
  height: 118px;
  top: 276px;
  left: 55%; }
  .MC:after {
    height: 95px; }
  .MC h3:after {
    top: 123px; }
  .MC h3:before {
    top: 98px; }

.coffee_life {
  height: 199px;
  top: 65%;
  left: 55%; }
  .coffee_life:after {
    height: 155px; }
  .coffee_life h3:after {
    top: 173px; }
  .coffee_life h3:before {
    top: 148px; }

#open_1969 {
  cursor: pointer;
  height: 227px;
  top: 255px;
  right: 10%; }
  #open_1969:after {
    height: 205px; }
  #open_1969 h3:after {
    top: 233px; }
  #open_1969 h3:before {
    top: 208px; }

#map_block.active {
  display: block; }

#map_block {
  display: none;
  position: absolute;
  width: 80%;
  height: 80%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-box-shadow: 0 20px 20px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 20px 20px 10px rgba(0, 0, 0, 0.5);
  -webkit-border-radius: 10px;
          border-radius: 10px;
  -webkit-animation: show 1s linear;
          animation: show 1s linear; }

.map {
  overflow: hidden;
  width: 100%;
  height: 100%;
  -webkit-border-radius: 10px;
          border-radius: 10px; }

#map_google {
  width: 100%;
  height: 100%; }

.cross_btn {
  cursor: pointer;
  display: block;
  width: 25px;
  height: 25px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  position: absolute;
  top: -15px;
  right: -30px;
  cursor: pointer;
  background-color: rgba(132, 189, 209, 0.5);
  z-index: 20; }
  .cross_btn .cross_line {
    display: block;
    height: 2px;
    width: 20px;
    background-color: #f9f6d6;
    -webkit-transition: -webkit-transform 0.5s ease;
    transition: -webkit-transform 0.5s ease;
    -o-transition: transform 0.5s ease;
    transition: transform 0.5s ease;
    transition: transform 0.5s ease, -webkit-transform 0.5s ease; }
  .cross_btn .cross_line:nth-child(1) {
    -webkit-transform: rotate(45deg) translate(8px, -1px);
        -ms-transform: rotate(45deg) translate(8px, -1px);
            transform: rotate(45deg) translate(8px, -1px);
    -webkit-transform-origin: 0px 0px;
        -ms-transform-origin: 0px 0px;
            transform-origin: 0px 0px; }
  .cross_btn .cross_line:nth-child(2) {
    -webkit-transform: rotate(-45deg) translate(-1px, -2px);
        -ms-transform: rotate(-45deg) translate(-1px, -2px);
            transform: rotate(-45deg) translate(-1px, -2px);
    -webkit-transform-origin: 25px 1px;
        -ms-transform-origin: 25px 1px;
            transform-origin: 25px 1px; }

/* POP UP*/
#pop_up.active {
  height: 530px;
  opacity: 1;
  display: block; }

#pop_up {
  display: none;
  max-width: 870px;
  width: 100%;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  -webkit-border-radius: 20px;
          border-radius: 20px;
  z-index: 20; }

.thank, .central_image, .manager_contact {
  padding: 0 20px; }

.thank {
  display: block;
  height: 140px;
  position: relative;
  background-color: #5f1d1f;
  -webkit-border-radius: 20px 20px 0 0;
          border-radius: 20px 20px 0 0;
  font-size: 2.5em;
  font-weight: 500;
  color: #fafafa;
  line-height: 0px; }

.thank span {
  display: block;
  font-size: 1.25em;
  line-height: 90px; }

.central_image {
  height: 300px;
  background: url(../img/pop_up_backgrnd.png) center center/cover no-repeat #f9f6d6; }
  .central_image p {
    font-size: 2.5em;
    font-weight: 700;
    color: #5f1d1f;
    line-height: 300px; }

.manager_contact {
  height: 140px;
  font-size: 2.25em;
  font-weight: 500;
  line-height: 140px;
  background-color: #5f1d1f;
  color: #fafafa;
  -webkit-border-radius: 0 0 20px 20px;
          border-radius: 0 0 20px 20px; }

/* FOOTER*/
footer {
  background-color: #5f1d1f;
  padding: 5px 0;
  min-height: 290px; }
  footer h3 {
    font-size: 1.5em;
    color: #f1e9b9;
    margin: 30px 0 50px; }
  footer p {
    font-size: 1.25em;
    color: #f1e9b9; }

footer > .wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: space-between;
  -webkit-align-items: space-between;
      -ms-flex-align: space-between;
          align-items: space-between;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.coworking {
  text-align: left; }

.follow {
  text-align: center; }
  .follow > img {
    margin-top: 50px; }

.f_networks ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .f_networks ul li:not(:first-child) {
    margin-left: 30px; }
  .f_networks ul img {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    height: 25px; }

.contact {
  text-align: right; }
