@media only screen and (max-width: 1600px) {
  .wrap {
    max-width: 80%; }
  .booking {
    right: 10%; }
  #advantage .inner_grid blockquote {
    width: 45%; }
  .slider_set.active .opinion {
    font-size: 1.375em; }
  .slider_set.active .up, .slider_set.active .down {
    height: 380px; }
  #open_1969 {
    right: 5%; } }

@media only screen and (max-width: 1200px) {
  .wrap {
    max-width: 90%; }
  .booking {
    right: 5%; }
  #advantage .inner_grid blockquote {
    width: 40%; }
  .text_seats > a {
    top: 20px; }
  .discount_form {
    right: -5%; }
  .slider_set.active .opinion {
    font-size: 1.375em; }
  .slider_set.active .up, .slider_set.active .down {
    height: 380px; } }

@media only screen and (max-width: 992px) {
  .wrap {
    max-width: 90%; }
  .networks {
    width: 200px; }
    .networks ul li:not(:first-child) {
      margin-left: 20px; }
  .booking {
    right: 5%; }
  #advantage.wrap {
    max-width: 100%; }
  #advantage .inner_grid {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    height: 750px;
    width: 545px; }
    #advantage .inner_grid blockquote {
      width: 100%;
      height: 15%; }
      #advantage .inner_grid blockquote p {
        top: 5%;
        font-size: 2.8125em; }
        #advantage .inner_grid blockquote p:before, #advantage .inner_grid blockquote p:after {
          height: 54px;
          font-size: 2.5em; }
        #advantage .inner_grid blockquote p:before {
          line-height: 54px; }
        #advantage .inner_grid blockquote p:after {
          margin-top: 30px; }
        #advantage .inner_grid blockquote p span {
          width: 60px; }
  .inner_wrapper {
    padding: 0px; }
  /* OUR OFFICES */
  .article {
    width: 55%; }
    .article h3:after {
      margin: 0; }
  .text_seats > p, .text_seats > a {
    font-size: 1.375em; }
  .seats_50 {
    background: -webkit-gradient(linear, left top, right top, color-stop(20%, rgba(0, 0, 0, 0)), color-stop(50%, rgba(221, 136, 42, 0.9))), url("../img/50_seats.png") top right no-repeat;
    background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 20%, rgba(221, 136, 42, 0.9) 50%), url("../img/50_seats.png") top right no-repeat;
    background: -o-linear-gradient(left, rgba(0, 0, 0, 0) 20%, rgba(221, 136, 42, 0.9) 50%), url("../img/50_seats.png") top right no-repeat;
    background: linear-gradient(to right, rgba(0, 0, 0, 0) 20%, rgba(221, 136, 42, 0.9) 50%), url("../img/50_seats.png") top right no-repeat; }
  .seats_20 {
    background: -webkit-gradient(linear, right top, left top, color-stop(20%, rgba(0, 0, 0, 0)), color-stop(50%, rgba(95, 29, 31, 0.9))), url("../img/20_seats.png") top right no-repeat;
    background: -webkit-linear-gradient(right, rgba(0, 0, 0, 0) 20%, rgba(95, 29, 31, 0.9) 50%), url("../img/20_seats.png") top right no-repeat;
    background: -o-linear-gradient(right, rgba(0, 0, 0, 0) 20%, rgba(95, 29, 31, 0.9) 50%), url("../img/20_seats.png") top right no-repeat;
    background: linear-gradient(to left, rgba(0, 0, 0, 0) 20%, rgba(95, 29, 31, 0.9) 50%), url("../img/20_seats.png") top right no-repeat; }
  .seats_6 {
    background: -webkit-gradient(linear, left top, right top, color-stop(20%, rgba(0, 0, 0, 0)), color-stop(50%, rgba(132, 189, 209, 0.9))), url("../img/6_seats.png") top right no-repeat;
    background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 20%, rgba(132, 189, 209, 0.9) 50%), url("../img/6_seats.png") top right no-repeat;
    background: -o-linear-gradient(left, rgba(0, 0, 0, 0) 20%, rgba(132, 189, 209, 0.9) 50%), url("../img/6_seats.png") top right no-repeat;
    background: linear-gradient(to right, rgba(0, 0, 0, 0) 20%, rgba(132, 189, 209, 0.9) 50%), url("../img/6_seats.png") top right no-repeat; }
  .girl img {
    left: 0; }
  .discount_form {
    z-index: 15;
    right: -3%; }
  .space p:first-child, .computers p:first-child, .offices p:first-child, .customers p:first-child {
    font-size: 3.375em; }
  .space h3:after, .computers h3:after, .offices h3:after, .customers h3:after {
    margin: 0; }
  .slider_set.active .opinion {
    font-size: 1.125em; }
  .slider_set.active .up, .slider_set.active .down {
    height: 320px; }
  .slider_set.active .opinion {
    font-size: 1.125em;
    margin: 15px auto 10px;
    width: 70%; }
  .slider_set.active .opinion_author {
    font-size: 1.25em; }
    .slider_set.active .opinion_author h4 {
      width: 100%; }
    .slider_set.active .opinion_author p {
      width: 100%; }
  #details.wrap {
    max-width: 100%; }
  #details {
    background: -webkit-linear-gradient(bottom, #f9f6d6 15px, rgba(0, 0, 0, 0) 20%), url(../img/details_background.png) no-repeat center top;
    background: -o-linear-gradient(bottom, #f9f6d6 15px, rgba(0, 0, 0, 0) 20%), url(../img/details_background.png) no-repeat center top;
    background: linear-gradient(to top, #f9f6d6 15px, rgba(0, 0, 0, 0) 20%), url(../img/details_background.png) no-repeat center top; }
  .details_items blockquote {
    width: 50%; }
  #location {
    background: url(../img/location.png) no-repeat center 200px; }
    #location .frame {
      height: 90%;
      width: 100%; }
      #location .frame h3:after, #location .frame h3:before {
        margin: 0; }
  .park:after, .market:after, .MC:after, .coffee_life:after, #open_1969:after {
    margin: 0; }
  #map_block.active {
    display: block; }
  #map_block {
    width: 90%;
    top: 55%; }
  #pop_up {
    max-width: 80%; }
  .thank {
    font-size: 1.875em;
    line-height: 1; }
  .thank span {
    width: 100%;
    line-height: 80px; }
  .central_image {
    height: 200px;
    padding: 15% 10%; }
    .central_image p {
      font-size: 1.875em;
      line-height: 1.5; }
  .manager_contact {
    font-size: 1.875em; } }

@media only screen and (max-width: 768px) {
  .menu, .address, .networks {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    .menu > img, .address > img, .networks > img {
      padding-left: 10px;
      height: 20px; }
    .menu p, .menu a, .address p, .address a, .networks p, .networks a {
      font-size: 0.875em; }
  .networks {
    width: 120px; }
    .networks ul img {
      height: 20px; }
  .phone {
    display: none; }
  #advantage {
    height: 125vh;
    min-height: 1080px;
    margin-bottom: 0;
    background: url("../img/advantage.png") no-repeat center top; }
    #advantage .inner_grid {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-flow: row wrap;
          -ms-flex-flow: row wrap;
              flex-flow: row wrap;
      padding: 40px 0 30px;
      height: 80vh;
      width: 90%; }
      #advantage .inner_grid blockquote {
        width: 100%;
        height: 13%; }
        #advantage .inner_grid blockquote p {
          top: 20%;
          font-size: 1.75em;
          font-weight: 800;
          text-align: center; }
          #advantage .inner_grid blockquote p:before, #advantage .inner_grid blockquote p:after {
            height: 20px;
            font-size: 1.75em; }
          #advantage .inner_grid blockquote p:before {
            line-height: 20px; }
          #advantage .inner_grid blockquote p span {
            width: 40px; }
      #advantage .inner_grid .inner_wrapper {
        width: 100%;
        height: 100%;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-flow: column;
            -ms-flex-flow: column;
                flex-flow: column;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        padding-left: 0;
        padding-top: 5%; }
      #advantage .inner_grid > div .picture {
        width: 70px;
        height: 120px; }
        #advantage .inner_grid > div .picture .who_pictogram {
          height: 60px; }
      #advantage .inner_grid > div .text {
        width: 60vw;
        font-size: 1.125em; }
        #advantage .inner_grid > div .text:before {
          height: 90px; }
      #advantage .inner_grid > div .right {
        width: 60vw; }
  .article {
    width: 100%; }
    .article h3 {
      font-size: 2em;
      width: 320px; }
    .article:after {
      margin: 0; }
  .text_seats > p, .text_seats > a {
    font-size: 1.625em; }
  .seats_50 {
    background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0)), color-stop(0%, rgba(221, 136, 42, 0.8))), url("../img/50_seats.png") top right no-repeat;
    background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(221, 136, 42, 0.8) 0%), url("../img/50_seats.png") top right no-repeat;
    background: -o-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(221, 136, 42, 0.8) 0%), url("../img/50_seats.png") top right no-repeat;
    background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(221, 136, 42, 0.8) 0%), url("../img/50_seats.png") top right no-repeat; }
  .seats_20 {
    background: -webkit-gradient(linear, right top, left top, from(rgba(0, 0, 0, 0)), color-stop(0%, rgba(95, 29, 31, 0.8))), url("../img/20_seats.png") top right no-repeat;
    background: -webkit-linear-gradient(right, rgba(0, 0, 0, 0) 0%, rgba(95, 29, 31, 0.8) 0%), url("../img/20_seats.png") top right no-repeat;
    background: -o-linear-gradient(right, rgba(0, 0, 0, 0) 0%, rgba(95, 29, 31, 0.8) 0%), url("../img/20_seats.png") top right no-repeat;
    background: linear-gradient(to left, rgba(0, 0, 0, 0) 0%, rgba(95, 29, 31, 0.8) 0%), url("../img/20_seats.png") top right no-repeat; }
  .seats_6 {
    background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0)), color-stop(0%, rgba(132, 189, 209, 0.8))), url("../img/6_seats.png") top right no-repeat;
    background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(132, 189, 209, 0.8) 0%), url("../img/6_seats.png") top right no-repeat;
    background: -o-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(132, 189, 209, 0.8) 0%), url("../img/6_seats.png") top right no-repeat;
    background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(132, 189, 209, 0.8) 0%), url("../img/6_seats.png") top right no-repeat; }
  .girl img {
    display: none; }
  #statistics {
    height: 450px;
    background: url(../img/long_banner.png) no-repeat center center/cover;
    padding: 0; }
  .statistic_section {
    height: 50%;
    width: 100%; }
  .statistic_wrapper, .statistic_section {
    -webkit-box-align: baseline;
    -webkit-align-items: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .space, .computers, .offices, .customers {
    height: 225px;
    width: 50%; }
    .space p:first-child, .computers p:first-child, .offices p:first-child, .customers p:first-child {
      width: 80%;
      height: 100px;
      margin: 5% auto 0;
      font-size: 3.75em;
      line-height: 80px; }
    .space h3, .computers h3, .offices h3, .customers h3 {
      margin: 30px auto 0;
      font-size: 1.5em;
      border: 2px solid #f9f6d6;
      width: 80%; }
      .space h3:before, .space h3:after, .computers h3:before, .computers h3:after, .offices h3:before, .offices h3:after, .customers h3:before, .customers h3:after {
        width: 25px;
        top: 50%; }
      .space h3:before, .computers h3:before, .offices h3:before, .customers h3:before {
        left: -8%; }
      .space h3:after, .computers h3:after, .offices h3:after, .customers h3:after {
        right: -8%; }
  .area {
    position: relative; }
  .area p:last-child {
    position: absolute;
    bottom: 2%;
    right: 20%;
    text-align: end;
    font-size: 1.5em;
    font-weight: 600;
    width: auto;
    height: auto; }
  #reviews {
    padding: 0;
    margin-top: 60px; }
  .slider_full_size {
    display: none; }
  .slider_mobile {
    display: block; }
  .slider_mobile > div {
    display: none; }
  .slider_mobile > div.active {
    display: inline-block;
    wigth: 100%;
    text-align: center;
    padding-bottom: 30px; }
  .opinion {
    font-size: 1.5em;
    line-height: 1.2;
    color: #fcfbf9;
    text-align: justify;
    width: 70%;
    margin: 30px auto 10px; }
  .opinion_href {
    font-size: 1em;
    color: #fcfbf9; }
  .opinion_author {
    text-align: center;
    font-size: 1.5em;
    font-weight: 800;
    line-height: 0.3;
    color: #3c0a0d;
    width: 70%;
    height: 60px;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    top: 15px;
    background-color: rgba(255, 255, 255, 0.5);
    position: relative; }
    .opinion_author:before, .opinion_author:after {
      content: '';
      position: absolute;
      border: 1px solid rgba(249, 246, 214, 0.8);
      width: 25px;
      top: 50%;
      margin: 0; }
    .opinion_author:before {
      left: -20px; }
    .opinion_author:after {
      right: -20px; }
    .opinion_author h4 {
      width: 100%;
      text-align: center;
      line-height: 40px; }
    .opinion_author p {
      width: 100%;
      text-align: center; }
  .alex_opinion {
    margin-left: 0;
    background: rgba(221, 136, 42, 0.8); }
  .denis_opinion {
    background: rgba(95, 29, 31, 0.8); }
  .anna_opinion {
    background: rgba(175, 139, 189, 0.8); }
  .jane_opinion {
    background: rgba(132, 189, 209, 0.8); }
  #prev, #next {
    position: absolute;
    background-color: transparent;
    border: none;
    outline: none;
    -webkit-box-shadow: none;
            box-shadow: none;
    margin: 0;
    background-image: url(../img/arrow.png);
    width: 63px;
    height: 51px;
    cursor: pointer;
    z-index: 10;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease; }
  #prev {
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%) scale(0.4);
        -ms-transform: translateY(-50%) scale(0.4);
            transform: translateY(-50%) scale(0.4); }
    #prev:hover {
      left: 0; }
  #next {
    top: 50%;
    right: 0;
    -webkit-transform: rotate(180deg) translateY(50%) scale(0.4);
        -ms-transform: rotate(180deg) translateY(50%) scale(0.4);
            transform: rotate(180deg) translateY(50%) scale(0.4); }
    #next:hover {
      right: 0; }
  #details .frame {
    border: none; }
  #gift.wrap {
    max-width: 100%; }
  #location .frame {
    height: 100%; }
    #location .frame h3 {
      width: 125px;
      font-size: 1em; }
  footer h3 {
    font-size: 1.25em; }
  footer p {
    font-size: 1em; } }

@media only screen and (max-width: 480px) {
  .wrap {
    max-width: 100%; }
  button {
    margin-top: 10px; }
  .top_line {
    max-height: 70px;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around; }
  .phone, .networks {
    display: none; }
  .navMenu {
    top: 70px; }
  .navMenu.active ul {
    height: -webkit-calc(100vh - 70px);
    height: calc(100vh - 70px); }
    .navMenu.active ul a {
      font-size: 1.125em; }
  .main_banner {
    height: -webkit-calc(100% - 70px);
    height: calc(100% - 70px); }
  .booking {
    width: 70vw;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    margin: 0 auto;
    padding: 20px 10px; }
    .booking img {
      padding: 20px 0 25px; }
    .booking h2 {
      font-size: 1.125em; }
    .booking h1 {
      font-size: 1.25em;
      padding-bottom: 20px; }
  .booking_form {
    padding: 20px 10px; }
    .booking_form h3 {
      font-size: 1.125em;
      padding-bottom: 20px; }
    .booking_form form input {
      margin-bottom: 10px;
      font-size: 1em; }
    .booking_form form button {
      padding: 10px 40px;
      font-size: 1.75em; }
  .scroll_down {
    bottom: 7%; }
  .article {
    width: 100%;
    text-align: center; }
    .article h3 {
      font-size: 2em;
      width: 300px; }
    .article button > a {
      padding: 10px 55px; }
  .text_seats {
    margin-top: 35px; }
    .text_seats > p {
      text-align: justify; }
    .text_seats > p, .text_seats > a {
      font-size: 1.25em; }
  #discount {
    height: 500px;
    background: url(../img/discount_office_background.png) no-repeat left center/cover; }
    #discount .frame {
      height: 100%; }
  .frame {
    border: none; }
  .girl img {
    display: none; }
  .discount_form {
    position: absolute;
    width: 100%;
    top: 0;
    right: 0;
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);
    padding: 30px;
    text-align: center;
    z-index: 5;
    background-color: rgba(202, 124, 40, 0.8);
    -webkit-border-radius: 10px;
            border-radius: 10px; }
    .discount_form h2 {
      font-size: 2.5em;
      text-align: center; }
    .discount_form p {
      font-size: 1.875em;
      font-weight: 400; }
    .discount_form form {
      margin: 10px 0; }
      .discount_form form input {
        margin: 10px 0;
        font-size: 1.5em; }
      .discount_form form button {
        padding: 10px 90px; }
  #reviews {
    padding: 0;
    margin-top: 60px; }
  .slider_full_size {
    display: none; }
  .slider_mobile {
    display: block; }
  .slider_mobile > div {
    display: none; }
  .slider_mobile > div.active {
    display: inline-block;
    wigth: 100%;
    text-align: center;
    padding-bottom: 30px; }
  .opinion {
    font-size: 1.5em;
    line-height: 1.2;
    color: #fcfbf9;
    text-align: justify;
    width: 70%;
    margin: 30px auto 10px; }
  .opinion_href {
    font-size: 1em;
    color: #fcfbf9; }
  .opinion_author {
    text-align: center;
    font-size: 1.5em;
    font-weight: 800;
    line-height: 0.3;
    color: #3c0a0d;
    width: 70%;
    height: 60px;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    top: 15px;
    background-color: rgba(255, 255, 255, 0.5);
    position: relative; }
    .opinion_author:before, .opinion_author:after {
      content: '';
      position: absolute;
      border: 1px solid rgba(249, 246, 214, 0.8);
      width: 25px;
      top: 50%; }
    .opinion_author:before {
      left: -20px; }
    .opinion_author:after {
      right: -20px; }
    .opinion_author h4 {
      width: 100%;
      text-align: center;
      line-height: 40px; }
    .opinion_author p {
      width: 100%;
      text-align: center; }
  .alex_opinion {
    margin-left: 0;
    background: rgba(221, 136, 42, 0.8); }
  .denis_opinion {
    background: rgba(95, 29, 31, 0.8); }
  .anna_opinion {
    background: rgba(175, 139, 189, 0.8); }
  .jane_opinion {
    background: rgba(132, 189, 209, 0.8); }
  #prev, #next {
    position: absolute;
    background-color: transparent;
    border: none;
    outline: none;
    -webkit-box-shadow: none;
            box-shadow: none;
    margin: 0;
    background-image: url(../img/arrow.png);
    width: 63px;
    height: 51px;
    cursor: pointer;
    z-index: 10;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease; }
  #prev {
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%) scale(0.4);
        -ms-transform: translateY(-50%) scale(0.4);
            transform: translateY(-50%) scale(0.4); }
    #prev:hover {
      left: 0; }
  #next {
    top: 50%;
    right: 0;
    -webkit-transform: rotate(180deg) translateY(50%) scale(0.4);
        -ms-transform: rotate(180deg) translateY(50%) scale(0.4);
            transform: rotate(180deg) translateY(50%) scale(0.4); }
    #next:hover {
      right: 0; }
  #details {
    padding-top: 0;
    background: -webkit-linear-gradient(right, rgba(249, 246, 214, 0.8) 200px, rgba(0, 0, 0, 0)), url(../img/details_background.png) no-repeat center center;
    background: -o-linear-gradient(right, rgba(249, 246, 214, 0.8) 200px, rgba(0, 0, 0, 0)), url(../img/details_background.png) no-repeat center center;
    background: linear-gradient(to left, rgba(249, 246, 214, 0.8) 200px, rgba(0, 0, 0, 0)), url(../img/details_background.png) no-repeat center center; }
    #details .frame {
      height: 100%;
      width: 90%; }
  .details_items {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    width: 100%; }
    .details_items blockquote {
      width: 100%;
      height: 15%; }
      .details_items blockquote p {
        position: relative;
        top: 0;
        -webkit-transform: translateY(0);
            -ms-transform: translateY(0);
                transform: translateY(0); }
  .details_items > div {
    margin-left: 30%; }
  .details_items > div .picture {
    width: 80px;
    height: 120px;
    text-align: right; }
    .details_items > div .picture .who_pictogram {
      height: 65px; }
  .details_items > div .text {
    width: 140px;
    padding: 0 0 10px 20px;
    font-size: 1.125em; }
    .details_items > div .text:before {
      height: 80px; }
    .details_items > div .text:after {
      width: 150px; }
  .details_items > div .right {
    width: 150px; }
  #gift {
    min-height: 493px;
    max-height: 493px;
    background: url(../img/join_background_black.png) no-repeat center center; }
    #gift img {
      display: none; }
  .free_month_form {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    -webkit-border-radius: 0;
            border-radius: 0; }
  .join_team {
    display: none; }
  #location {
    background: #f9f6d6;
    padding-top: 0;
    margin-bottom: 0; }
    #location .frame {
      height: 90%;
      width: 90%; }
      #location .frame p {
        width: 80%; }
  .park, .market, .MC, .coffee_life, #open_1969 {
    display: none; }
  #map_block {
    display: block;
    width: 100%;
    height: 70%;
    top: 65%; }
    #map_block .cross_btn {
      display: none; }
  #pop_up {
    max-width: 320px;
    left: 45%; }
  .thank {
    font-size: 1.875em;
    line-height: 1; }
  .thank span {
    line-height: 60px; }
  .central_image {
    height: 200px;
    padding: 15% 10%; }
    .central_image p {
      font-size: 1.875em;
      line-height: 1.5; }
  .manager_contact {
    height: 100px;
    font-size: 1.75em;
    line-height: 1.2;
    padding: 15px; }
  footer > .wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  footer {
    padding-bottom: 20px; }
    footer h3 {
      font-size: 1.25em;
      margin: 10px 0 10px; }
    footer p {
      font-size: 1em; }
  .coworking, .follow, .contact {
    text-align: center; }
  .follow > img {
    margin: 15px 0 0 -5px;
    height: 50px; }
  .f_networks ul img {
    height: 15px; } }
