$mainBackground: #f9f6d6;

$mainDark: #f1e9b9;

$textLight: #f1e9b9;

$textBrown: #3c0a0d;

$textDark: #2e2e2b;

$textPlaceholder: #848181;

$headerBackground: #0c0105;

$headerFormOrange: #ffe092;

$purple: rgb(175, 139, 189);

$orange: rgb(221, 136, 42);

$blue: rgb(132, 189, 209);

$burgundy: rgb(95, 29, 31);

$btnBlue: #00a9da;

$btnRed: #c11b35;

$browser-context: 16; // Default

@function em($pixels, $context: $browser-context) 
  @return #{$pixels/$context}em;


@import url('https://fonts.googleapis.com/css?family=Raleway:400,500,800,900');

*
	margin: 0;
	padding: 0;
	box-sizing: border-box;

ul
    list-style-type: none;

a, li a
    text-decoration: none;

li
    display: inline-block;	

body	
	min-width: 320px;
	position: relative;
	font-family: Raleway, sans-serif;
	font-size: 16px;
	line-height: 1.6;
	background-color: $mainBackground;

.wrap
	max-width: 70%;
	margin: 0 auto;
	

/* РАЗОБРАТЬСЯ С ЖИРНЫМ ШРИФТОМ*/

h1, h2, h3, button
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	text-transform: uppercase;

button
	margin-top: 20px; 
	font-size: em(36);
	border: none;
	outline: none;
	cursor: pointer;
	transition: background-color 0.5s ease;	
	box-shadow: 0 2px 5px 2px rgba(0, 0, 0, 0.5);




/* HEADER */

header
	background-color: $headerBackground;
	height: 100vh;
	overflow: hidden;

header p, a, h1, h2
	color: $textLight;

.top_line
	padding: 20px 0;
	max-height: 90px;
	display: flex;
	align-items: center;
	justify-content: space-between;

.menu_btn
	cursor: pointer;
	.line
		display: block;
		height: 2px;
		width: 25px;
		margin-bottom: 5px;
		transform-origin: 4px 0px;
		background-color: #d5d0a5;
		transition: transform 0.5s ease;

.menu_btn.active
	.line:nth-child(1)
		transform: rotate(45deg) translate(0px, 0px)
	.line:nth-child(2)
		opacity: 0;
	.line:nth-child(3)
		transform: rotate(-45deg) translate(0px, -3px);

.navMenu
	display: none;
	position: absolute;
	top: 90px;
	left: 0;
	z-index: 15;	

.navMenu.active
	display: block;
	ul	
		width: calc(10vw + 200px);
		height: 575px;
		background-color: rgba(0,0,0,0.7);
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		padding: 20px 0 20px 10vw;		
		a
			font-size: em(20);


.menu, .address, .phone, .networks 
	display: flex;
	align-items: center;
	&>img
		padding-left: 20px;

.networks 
	justify-content: center;
	width: 250px;
	padding-right: 30px;
	ul	
		display: flex;
		justify-content: center;		
		li:not(:first-child)
			margin-left: 30px;
		img
			display: flex;
			justify-content: center;
			align-items: center;		
			height: 25px;

	


/* MAIN BANNER */

.main_banner
	position: relative;
	background: url(../img/main_banner.png) center center/cover fixed;
	height: calc(100% - 90px);
	width: 100%;

.booking
	position: absolute;
	width: 290px;
	top: 0;
	right: 15%;
	padding: 30px;
	text-align: center;
	img
		padding: 30px 0 40px;
	h2
		font-size: em(20);
		text-transform: capitalize;
	h1
		font-size: em(24);
		line-height: 1;
		padding-bottom: 20px;

/* РАЗОБРАТЬСЯ С ПЛАВНЫМ ПЕРЕВОХОД ПО ССЫЛКЕ*/

.booking_form
	position: relative;
	background-color: rgba(255, 224, 146, 0.8);
	padding: 30px 10px;
	h3
		font-size: em(22);
		line-height: 1;
		padding-bottom: 30px;
	form 
		input
			width: 100%;
			margin-bottom: 10px;
			padding: 10px;
			background-color: white;
			border: 1px solid white;
			outline: none;
			line-height: 1.1;
			font-size: em(18);
		input:focus
			box-shadow: 0 0 10px rgba(89,31,35,1);;
		button
			color: white;
			background-color: $blue;
			padding: 10px 40px;
			font-size: em(28);
		button:hover
			background-color: $btnBlue;

.scroll_down
	position: absolute;		
	width: 530px;
	left: 50%;
	bottom: 5%;	
	transform: translateX(-50%);

.scroll	
	bottom: 0px;	
	display: block;
	content: "";
	border: 1px solid $mainBackground;
	z-index: 1;

.scroll:before, .scroll:after
	position: absolute;	
	display: block;
	content: "";	
	left: 50%;
	top: 50%;	
	transform: translate(-50%, -50%) rotate(45deg);	

.scroll:before	
	width: 28px;
	height: 28px;	
	background-color: $mainBackground;

.scroll:after	
	width: 15px;
	height: 15px;	
	border-bottom: 1px solid #22221d;
	border-right: 1px solid #22221d;



/* WHY WE*/

#advantage
	height: 100%;
	background: linear-gradient(to right, rgba($mainBackground, 1)10px, rgba(0,0,0, 0)10%), url("../img/advantage.png") top left no-repeat
	// background: url("../img/advantage.png") top left no-repeat
	padding-top: 25px;
	margin-bottom: 25px;
	h2
		display: block;
		margin: 0 auto;
		position: relative;
		border: 3px solid #626262;
		text-align: center;
		font-weight: 500;
		font-size: em(32);
		color: #878678;
		padding: 0 35px;
		width: 270px;
		
		span
			font-size: em(20);
			font-weight: 600;
			color: $textDark;
		&:before, &:after
			content: "";
			position: absolute;
			border: 1px solid #626262;
			width: 160px;			
			top: 50%;
		&:before
			left: -50%;
		&:after	
			right: -50%;
	.inner_grid
		display: flex;
		flex-flow: column wrap;
		align-items: space-between;
		justify-content: space-between;
		padding: 80px 0 30px;;
		height: 650px;
		width: 90%;
		margin: 0 auto;		
		blockquote					
			width: 50%;
			align-self: center;
			justify-content: center;
			height: 100%;
			// padding: 0 40px;			
			p
				position: relative;	
				top: 40%;
				transform: translateY(-50%);
				font-size: em(54);
				font-weight: 500;
				color: $textBrown;	
				line-height: 1;			
				&:before
					content: "\2018 \2018";
					height: 61px;
					font-size: em(48);
					position: absolute;
					// margin-top: -25px;
					// margin-left: 65px;
					line-height: 61px;
				&:after
					content: "\2019 \2019";
					height: 61px;
					font-size: em(48);
					position: absolute;
					margin-top: 30px;
					// line-height: 61px;
				span
					display: inline-block;
					width: 80px;
		
		.inner_wrapper
			width: 50%;
			height: 100%;
			display: flex;
			flex-flow: column wrap;
			align-items: space-between;
			justify-content: space-between;	
			padding-left: 40px;
		&>div
			.picture				
				display: inline-block;				
				width: 80px;
				height: 150px;
				text-align: right;
				.who_pictogram
					height: 65px;
			
			.text
				display: inline-block;
				width: 220px;
				padding: 0 0 10px 20px;
				position: relative;
				font-size: em(18);
				color: $textDark;
				line-height: 1.2;
				font-weight: 500;
				&:before
					content: '';
					position: absolute;
					border-left: 1px solid #6a6a6a;
					height: 130px;
					bottom: -10px;
					left: 10px;
				&:after
					content: '';
					position: absolute;
					border-bottom: 1px solid #6a6a6a;
					width: 150px;
					bottom: 0;
					left: 0;
			.right
				width: 150px;

/* OUR OFFICES */

#our_offices
	height: 100%;
	// margin-bottom: 25px;
	max-width: 1100px;

.seats_50, .seats_20, .seats_6
	height: 450px;
	text-align: right;
	padding: 30px;

.seats_50, .seats_6
	display: flex;
	justify-content: flex-end;	

.seats_50
	background: linear-gradient(to right, rgba(0,0,0, 0) 30%, rgba($orange, 0.9) 60%), url("../img/50_seats.png") top right no-repeat
	button:hover
		background-color: rgba($burgundy, 0.9);

.article
	width: 45%;
	text-align: center;
	h3
		display: block;
		margin: 0 auto;
		position: relative;
		border: 3px solid $mainBackground;
		text-align: center;
		font-weight: 800;
		font-size: em(36);
		color: #fff;
		// padding: 11px 0;
		width: 365px;
		&:before, &:after
			content: "";
			position: absolute;
			border: 1px solid $mainBackground;
			width: 55px;			
			top: 50%;
		&:before
			left: -13%;
		&:after	
			right: -13%;
	button		
		background-color: #edd3b6;
		padding: 10px 75px;
		transition: all 0.5s ease;
		&>a
			color: $textBrown;
			// font-weight: 800;
	button:hover>a
		color: $mainBackground;


.text_seats
	margin: 25px 0;
	text-align: justify;
	&>p, &>a
		font-size: em(24);
		line-height: 1.2;
		color: #fff;
	a
		text-transform: lowercase;
		position: relative;
		right: 0;

		.icon-arrow-right2:before 
			content: "\ea3c";
			position: absolute;
			font-size: 18px;
			line-height: 30px;

.seats_20
	background: linear-gradient(to left, rgba(0,0,0, 0) 30%, rgba($burgundy, 0.9) 60%), url("../img/20_seats.png") top right no-repeat
	button:hover
		background-color: rgba($orange, 0.9);

.seats_6
	background: linear-gradient(to right, rgba(0,0,0, 0) 30%, rgba($blue, 0.9) 60%), url("../img/6_seats.png") top right no-repeat
	button:hover
		background-color: rgba($btnRed, 0.9);
			
/* DISCOUNTS */

#discount
	height: 960px;
	background: linear-gradient(to right, rgba($mainBackground, 1)10px, rgba(0,0,0, 0)15%), linear-gradient(-90deg, rgba($mainBackground, 1)15px, rgba(0,0,0, 0)15%), url(../img/discount_office_color.png) no-repeat left center, url(../img/discount_office_background.png) no-repeat left center;
	position: relative;
	padding-top: 40px;
	.frame
		height: 830px;
		max-width: 900px;		

.frame
	border: 5px solid $orange;
	margin: 0 auto;
	position: relative;
	overflow: visible;

.girl img
	position: absolute;
	bottom: 0;
	left: -130px;
	z-index: 10;

.discount_form
	position: absolute;
	width: 460px;
	top: 50%;
	right: -10%;
	transform: translateY(-50%);
	padding: 30px;
	text-align: center;
	z-index: 5;
	background-color: rgba(202, 124, 40, 0.8);	
	border-radius: 10px;
	h2
		font-size: em(40);
		text-transform: uppercase;
		color: #fff;
		line-height: 1;
		text-align: center;
	p			
		font-size: em(30);
		text-transform: lowercase;
		font-weight: 400;		
		line-height: 1;
		color: #fff;	
	form 
		margin: 10px 0;
		input
			width: 100%;
			margin: 10px 0;
			padding: 10px;
			background-color: white;
			border: 1px solid white;
			outline: none;
			line-height: 1.1;
			font-size: em(24);
		input:focus
			box-shadow: 0 0 10px rgba(89,31,35,1);;
		button
			color: white;
			background-color: $blue;
			padding: 10px 90px;
			transition: all 0.5s ease;
		button:hover
			background-color: $btnBlue;


/* STATISTICS */

#statistics
	height: 350px;	
	background: url(../img/long_banner.png) no-repeat center center;
	padding: 40px 0;
	border-top: 2px solid $textBrown;
	border-bottom: 2px solid $textBrown;

.statistic_wrapper, .statistic_section
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: center;
	// height: 100%;
.statistic_wrapper
	height: 100%;
	width: 100%;
	max-width: 1124px;
	margin: 0 auto;

.statistic_section
	height: 100%;
	width: 50%;

.space, .computers, .offices, .customers 
	height: 100%;
	width: 50%;
	p:first-child
		width: 180px;
		height: 100px;
		margin: 40px auto 0;
		font-size: em(68);
		color: $textLight;
		font-weight: 800;
		text-align: center;
		line-height: 1;
	h3
		// display: block;
		margin: 30px auto 0;
		position: relative;
		border: 5px solid $mainBackground;
		text-align: center;
		font-weight: 800;
		font-size: em(24);
		color: $mainBackground;
		text-transform: lowercase;
		width: 180px;
		&:before, &:after
			content: "";
			position: absolute;
			border: 1px solid $mainBackground;
			width: 55px;			
			top: 50%;
		&:before
			left: -25%;
		&:after	
			right: -25%;
.area 
	position: relative;
	p:first-child
		background-color: rgba($orange, 0.8);
.area p:last-child
	position: absolute;
	bottom: 0;
	right: 65px;
	text-align: end;
	font-size: em(28);
	font-weight: 600;
	color: $textLight;
	width: auto;
	height: auto;

.space
	background: linear-gradient(to top, rgba($orange, 1),50%, rgba(0,0,0, 0));
	p:first-child
		background-color: rgba($orange, 0.8);

.offices
	background: linear-gradient(to top, rgba($burgundy, 1),50%, rgba(0,0,0, 0));
	p:first-child
		background-color: rgba($burgundy, 0.8);

.computers
	background: linear-gradient(to top, rgba($blue, 1),50%, rgba(0,0,0, 0));
	p:first-child
		background-color: rgba($blue, 0.8);

.customers
	background: linear-gradient(to top, rgba($purple, 1),50%, rgba(0,0,0, 0));
	p:first-child
		background-color: rgba($purple, 0.8);
	

/* REVIEWS */

.slider_full_size
	margin: 0 auto;
	overflow: hidden;
.slider_not_active
	display: none;
.slider_active
	// float: left;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	// text-align: center;
	width: 100%;
	transition: margin 0.8s ease-out;
	margin-left: 0px;	
	.down
		margin-bottom: 6px;
	.up, .down
		display: inline-block;
		max-width: 358px;
		width: 100%;
		height: 400px;
		overflow: hidden;
		text-align: center;
		position: relative;
	.up:not(:first-child), .down
		margin-left: -173px;
	.opinion, 
		font-size: em(24);
		line-height: 1.2;
		color: rgb(252, 251, 249);
		text-align: center;
		width: 270px;
		margin: 30px auto 10px;
	.opinion_href
		font-size: em(16);
		// line-height: 1.2;
		color: rgb(252, 251, 249);
		// text-align: center;

	.opinion_author
		font-size: em(24);
		font-weight: 800;
		line-height: 0.3;
		color: $textBrown;
		width: 265px;
		height: 60px;
		left: 50%;
		transform: translateX(-50%);
		bottom: 15px;
		background-color: rgba(255, 255, 255, 0.8);
		position: absolute;
		&:before, &:after
			content: '';
			position: absolute;
			border: 1px solid rgba($mainBackground, 0.8);
			width: 25px;		
			top: 50%;
		&:before
			left: -20px;
		&:after		
			right: -20px;
		h4
			width: 140px;
			text-align: center;
			line-height: 40px;
		p
			position: absolute;
			right: 0;
			width: 180px;
			text-align: center;

	.alex_opinion	
		margin-left: 0;	
		background: url(../img/review_1_1.png) no-repeat center top;
	.alex
		background: url(../img/review_2_1_alex.png) no-repeat center bottom;
	.table
		background: url(../img/review_1_2.png) no-repeat center top;
	.denis
		background: url(../img/review_2_2_denis.png) no-repeat center bottom;
	.denis_opinion
		background: url(../img/review_1_3.png) no-repeat center top;
	.anna	
		margin-left: 0;	
		background: url(../img/review_4_1_ann.png) no-repeat center bottom;
	.anna_opinion
		background: url(../img/review_3_1.png) no-repeat center top;
	.chairs
		background: url(../img/review_4_2.png) no-repeat center bottom;
	.jane_opinion
		background: url(../img/review_3_2.png) no-repeat center top;
	.jane
		background: url(../img/review_4_3_jane.png) no-repeat center bottom;
	


/* DETAILS */

#details
	height: 100vh;
	background: linear-gradient(to top, rgba($mainBackground, 1)15px, rgba(0,0,0, 0)20%), url(../img/details_chair.png) no-repeat center top, url(../img/details_background.png) no-repeat center top;
	position: relative;
	padding-top: 40px;
	.frame
		height: 90%;
		width: 80%;

.details_items
		display: flex;
		flex-flow: column wrap;
		align-items: space-between;
		justify-content: space-between;
		padding: 80px 0 30px;;
		height: 100%;
		width: 90%;
		margin: 0 auto;		
		blockquote					
			width: 70%;
			align-self: center;
			justify-content: center;
			height: 100%;
			// padding: 0 40px;			
			p
				position: relative;	
				top: 10%;
				transform: translateY(-50%);
				font-size: em(42);
				font-weight: 600;
				color: rgba(109, 37, 4, 0.9);	
				line-height: 1;			
				&:before
					content: "\2018 \2018";
					height: 42px;
					font-size: em(24);
					position: absolute;
					margin-top: -25px;
					// margin-left: 65px;
					line-height: 61px;
				&:after
					content: "\2019 \2019";
					height: 40px;
					font-size: em(24);
					position: absolute;
					margin-top: 42px;
					// line-height: 61px;
				span
					display: inline-block;
					width: 20px;
		
		&>div
			
			.picture				
				display: inline-block;				
				width: 80px;
				height: 130px;
				text-align: right;
				.who_pictogram
					height: 65px;
			
			.text
				display: inline-block;
				// width: 50%;
				width: 150px;
				padding: 0 0 10px 20px;
				position: relative;
				font-size: em(18);
				color: $textDark;
				line-height: 1.2;
				font-weight: 500;
				&:before
					content: '';
					position: absolute;
					border-left: 1px solid #6a6a6a;
					height: 130px;
					bottom: -10px;
					left: 10px;
				&:after
					content: '';
					position: absolute;
					border-bottom: 1px solid #6a6a6a;
					width: 150px;
					bottom: 0;
					left: 0;
			.right
				width: 150px;


/* GIFT */

#gift
	height: 100vh;
	background: linear-gradient(to right, rgba($mainBackground, 1)25px, rgba(0,0,0, 0)15%), linear-gradient(to left, rgba($mainBackground, 1)25px, rgba(0,0,0, 0)15%), url(../img/join_background_workplace.png) no-repeat center bottom, url(../img/join_background_black.png) no-repeat center bottom;
	position: relative;
	img
		position: absolute;
		bottom: 0;
		right: 11%;
		z-index: 10;

.free_month_form
	position: absolute;
	width: 420px;
	top: 0;
	left: 10%;	
	padding: 40px;
	text-align: center;
	z-index: 5;
	background-color: rgba(150, 192, 210, 0.85);	
	border-radius: 10px;
	h2
		font-size: em(46);
		text-transform: uppercase;
		color: #fff;
		line-height: 1;
		text-align: center;
	p			
		font-size: em(30);
		font-weight: 400;		
		line-height: 1;
		color: #fff;
		margin: 20px 0 25px;
		span
			text-decoration: underline;	
	form 
		margin: 10px 0;
		input
			width: 100%;
			margin: 10px 0;
			padding: 10px;
			background-color: white;
			border: 1px solid white;
			outline: none;
			line-height: 1.1;
			font-size: em(24);
		input:focus
			box-shadow: 0 0 10px rgba(89,31,35,1);;
		button
			color: white;
			background-color: $btnRed;
			padding: 10px 40px;
			transition: all 0.5s ease;
		button:hover
			background-color: $btnRed;
.join_team
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	width: 80%;
	padding: 25px 0;
	background-color: rgba(150, 192, 210, 0.85);
	text-align: center;
	border-radius: 10px;
	z-index: 15;
	p
		text-transform: uppercase;
		color: #fff;
		line-height: 1;
		text-align: center;
		font-weight: 800;
	p:first-child
		font-size: em(36);		
	p:last-child
		font-size: em(48);
		

/* LOCATION */	

#location
	height: 100vh;
	background: linear-gradient(to right, rgba($mainBackground, 1)35px, rgba(0,0,0, 0)15%), linear-gradient(to left, rgba($mainBackground, 1)35px, rgba(0,0,0, 0)15%), url(../img/location.png) no-repeat center 200px;
	position: relative;
	padding-top: 60px;
	margin-bottom: 60px;
	.frame
		height: 90%;
		width: 80%;
		h2
			font-size: em(36);
			font-weight: 600;
			color: $textBrown;
			margin: 60px auto 40px auto;
			text-align: center;
			line-height: 1;
		p
			font-size: em(18);
			color: $textPlaceholder;
			text-align: center;
			width: 43%;
			margin: 0 auto;
			line-height: 1.1;
		h3
			font-size: em(18);
			font-weight: 600;
			color: $textPlaceholder;
			text-align: center;
			text-transform: capitalize;
			padding: 3px 0;
			width: 145px;
			line-height: 1.1;
			border: 3px solid $orange;
			background: rgba(255, 255, 255, 0.8);
			position: relative;
			&:after
				content: '';
				color: $orange;
				position: absolute;
				border: 5px solid $orange;
				border-radius: 50%;
				height: 10px;
				width: 10px;
				box-sizing: border-box;
				left: 50%;
				transform: translateX(-50%);
			&:before
				content: '';
				color: $orange;
				position: absolute;
				border: 15px solid rgba(255, 255, 255, 0.8);
				border-radius: 50%;
				height: 15px;
				width: 15px;
				box-sizing: border-box;
				left: 50%;
				transform: translate(-50%, 50%);
				// bottom: -10px;
				// left: 10px;
.park, .market, .MC, .coffee_life, .open_1969
	position: absolute;
	display: inline-block;
	&:after
		content: '';
		position: absolute;
		border-left: 2px solid $orange;
		// bottom: -108px;
		left: 50%;
		transform: translateX(-50%);
	
.park	
	height: 142px;
	top: 268px;
	left: 5%;
	&:after
		height: 125px;
	h3:after
		top: 143px;
	h3:before
		top: 118px;

.market
	height: 68px;
	top: 286px;
	left: 33%;
	&:after
		height: 45px;
	h3:after
		top: 63px;
	h3:before
		top: 38px;

.MC
	height: 118px;
	top: 276px;
	left: 55%;
	&:after
		height: 95px;
	h3:after
		top: 123px;
	h3:before
		top: 98px;

.coffee_life
	height: 199px;
	top: 65%;
	left: 55%;
	&:after
		height: 155px;
	h3:after
		top: 173px;
	h3:before
		top: 148px;

.open_1969
	height: 227px;
	top: 255px;
	left: 80%;
	&:after
		height: 205px;
	h3:after
		top: 233px;
	h3:before
		top: 208px;

#map 
	display: block;
	position: absolute;
	overflow: hidden;
	width: 80%;
	height: 80%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	opacity: 1;
	box-shadow: 0 20px 20px 10px rgba(0, 0, 0, 0.5);
	border-radius: 10px;
	animation: show 1s linear;
#map_google
	border-radius: 20px;		
	width: 100%;
	height: 100%;


/* FOOTER*/
footer	
	background-color: $burgundy;
	padding: 5px 0;
	min-height: 290px;
	h3
		font-size: em(24);
		color: $textLight;
		margin: 30px 0 50px;
	p
		font-size: em(20);
		color: $textLight;

.coworking, .follow, .contact
	float: left;
	width: 33%;

.coworking
	text-align: left;

.follow
	text-align: center;
	> img 
		margin-top: 50px;

.f_networks ul
	display: flex;
	justify-content: center;
	li:not(:first-child)
		margin-left: 30px;
	img
		display: flex;
		justify-content: center;
		align-items: center;		
		height: 25px;
			

.contact
	text-align: right;

	


